:root {
    --o-ui-sp-1: .25rem;
    --o-ui-sp-2: .5rem;
    --o-ui-sp-3: .75rem;
    --o-ui-sp-4: 1rem;
    --o-ui-sp-5: 1.25rem;
    --o-ui-sp-6: 1.5rem;
    --o-ui-sp-7: 2rem;
    --o-ui-sp-8: 2.5rem;
    --o-ui-sp-9: 3rem;
    --o-ui-sp-10: 3.5rem;
    --o-ui-sp-11: 4rem;
    --o-ui-sp-12: 4.5rem;
    --o-ui-sp-13: 5rem;
    --o-ui-sz-1: .75rem;
    --o-ui-sz-2: 1rem;
    --o-ui-sz-3: 1.25rem;
    --o-ui-sz-4: 1.5rem;
    --o-ui-sz-5: 2rem;
    --o-ui-sz-6: 2.5rem;
    --o-ui-sz-7: 3rem;
    --o-ui-sz-8: 3.5rem;
    --o-ui-sz-9: 4rem;
    --o-ui-sz-10: 4.5rem;
    --o-ui-sz-11: 5rem;
    --o-ui-sz-12: 6rem;
    --o-ui-sz-13: 8rem;
    --o-ui-sz-14: 12rem;
    --o-ui-sz-15: 16rem;
    --o-ui-sz-16: 20rem;
    --o-ui-sz-17: 24rem;
    --o-ui-sz-18: 30rem;
    --o-ui-fs-1: .625rem;
    --o-ui-fs-2: .75rem;
    --o-ui-fs-3: .875rem;
    --o-ui-fs-4: 1rem;
    --o-ui-fs-5: 1.125rem;
    --o-ui-fs-6: 1.375rem;
    --o-ui-fs-7: 1.75rem;
    --o-ui-fs-8: 2rem;
    --o-ui-fs-9: 2.5rem;
    --o-ui-fs-10: 3.75rem;
    --o-ui-fs-11: 5rem;
    --o-ui-fw-1: 400;
    --o-ui-fw-2: 500;
    --o-ui-fw-3: 600;
    --o-ui-lh-1: 1;
    --o-ui-lh-2: 1.2;
    --o-ui-lh-3: 1.25;
    --o-ui-lh-4: 1.3333333;
    --o-ui-lh-5: 1.454595;
    --o-ui-lh-6: 1.5;
    --o-ui-br-1: .125rem;
    --o-ui-br-2: .25rem;
    --o-ui-br-3: .5rem;
    --o-ui-br-4: 1rem;
    --o-ui-br-pill: 999px;
    --o-ui-br-circular: 100%;
    --o-ui-bs-alias-lifted: var(--o-ui-bs-1);
    --o-ui-bs-alias-floating: var(--o-ui-bs-2);
    --o-ui-neutral-1: #f4f4f4;
    --o-ui-neutral-2: #e5e5e5;
    --o-ui-neutral-3: #c4c3c3;
    --o-ui-neutral-4: #adacac;
    --o-ui-neutral-5: #929292;
    --o-ui-neutral-6: #777676;
    --o-ui-neutral-7: #555454;
    --o-ui-neutral-8: #434342;
    --o-ui-neutral-9: #272626;
    --o-ui-neutral-10: #111010;
    --o-ui-green-1: #dbfbea;
    --o-ui-green-2: #cbeedb;
    --o-ui-green-3: #a5cdb8;
    --o-ui-green-4: #78ba9b;
    --o-ui-green-5: #27a57a;
    --o-ui-green-6: #268563;
    --o-ui-green-7: #2b5e48;
    --o-ui-green-8: #27493a;
    --o-ui-green-9: #1a2a23;
    --o-ui-green-10: #0c110e;
    --o-ui-orange-1: #fcf2e3;
    --o-ui-orange-2: #fee2bb;
    --o-ui-orange-3: #ffb470;
    --o-ui-orange-4: #ff9048;
    --o-ui-orange-5: #ff5c00;
    --o-ui-orange-6: #c7521a;
    --o-ui-orange-7: #874020;
    --o-ui-orange-8: #66351e;
    --o-ui-orange-9: #392015;
    --o-ui-orange-10: #170e09;
    --o-ui-purple-1: #eef3fd;
    --o-ui-purple-2: #dbe6fd;
    --o-ui-purple-3: #b6c2ef;
    --o-ui-purple-4: #95a9f5;
    --o-ui-purple-5: #7689fd;
    --o-ui-purple-6: #5d65f6;
    --o-ui-purple-7: #4b11fd;
    --o-ui-purple-8: #362aae;
    --o-ui-purple-9: #1f2151;
    --o-ui-purple-10: #0d0f1f;
    --o-ui-success-1: #e3f8ec;
    --o-ui-success-2: #ceedd7;
    --o-ui-success-3: #93d39b;
    --o-ui-success-4: #61c06d;
    --o-ui-success-5: #17a93c;
    --o-ui-success-6: #2d8739;
    --o-ui-success-7: #2e5f30;
    --o-ui-success-8: #284929;
    --o-ui-success-9: #1b2a1a;
    --o-ui-success-10: #0c110b;
    --o-ui-warning-1: #fcf3df;
    --o-ui-warning-2: #fbe3b5;
    --o-ui-warning-3: #f6ba42;
    --o-ui-warning-4: #d7a541;
    --o-ui-warning-5: #b48c3f;
    --o-ui-warning-6: #907239;
    --o-ui-warning-7: #65522f;
    --o-ui-warning-8: #4e4027;
    --o-ui-warning-9: #2c2619;
    --o-ui-warning-10: #12100b;
    --o-ui-alert-1: #fbf1f1;
    --o-ui-alert-2: #fadfdf;
    --o-ui-alert-3: #fdb0af;
    --o-ui-alert-4: #f88f8d;
    --o-ui-alert-5: #eb6a64;
    --o-ui-alert-6: #d93c37;
    --o-ui-alert-7: #a91414;
    --o-ui-alert-8: #811b15;
    --o-ui-alert-9: #461812;
    --o-ui-alert-10: #1d0b09;
    --o-ui-black: #000;
    --o-ui-gray: #f9f9f9;
    --o-ui-white: #fff;
    --o-ui-accent-1: #eef3fd;
    --o-ui-accent-2: #dbe6fd;
    --o-ui-accent-3: #b6c2ef;
    --o-ui-accent-4: #95a9f5;
    --o-ui-accent-5: #7689fd;
    --o-ui-accent-6: #5D65f6;
    --o-ui-accent-7: #4B11fd;
    --o-ui-accent-8: #362aae;
    --o-ui-accent-9: #1f2151;
    --o-ui-accent-10: #0d0f1f;
}